 .u-section-1 {
  background-image: url("images/ww.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/valeria-fursa-Qcfjjxio9r0-unsplash.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 764px;
}

.u-section-1 .u-container-layout-2 {
  padding: 1px 0;
}

.u-section-1 .u-image-2 {
  width: 128px;
  height: 128px;
  margin: 1px auto 0 6px;
}

.u-section-1 .u-image-3 {
  width: 199px;
  height: 106px;
  margin: -127px 2px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 49px 38px 0;
}

.u-section-1 .u-group-1 {
  min-height: 69px;
  background-image: none;
  width: 583px;
  height: auto;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  margin: 0 20px 0 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 34px 38px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 54px auto 0;
  padding: 10px 57px 11px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 90px;
  width: 482px;
  margin: 13px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 449px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
    background-position: 66.88% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 15px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.625rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    width: 501px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 770px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-1 {
    min-height: 451px;
    background-position: 56.04% 50%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-group-1 {
    width: 348px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 348px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 655px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-bottom: 1px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 479px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 793px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 402px;
  margin: 44px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 44px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1149px;
}

.u-section-3 .u-group-1 {
  width: 889px;
  min-height: 448px;
  background-image: none;
  height: auto;
  margin: 85px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  margin: 58px 30px 0 230px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 90px 0 321px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 8px 30px 0 auto;
  padding: 10px 60px 10px 59px;
}

.u-section-3 .u-custom-html-1 {
  margin: 20px 43px 0 370px;
}

.u-section-3 .u-text-3 {
  text-align: left;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 20px 43px 0 370px;
}

.u-section-3 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/smartmockups_ld76df7e.jpg");
  background-position: 50% 50%;
  margin: -403px auto 0 30px;
}

.u-section-3 .u-image-2 {
  width: 759px;
  height: 759px;
  margin: -253px 79px 6px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 40px 40px 130px 60px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 91px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 6px;
    margin-left: 237px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 244px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 244px;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 30px 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 63px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 64px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 64px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -86px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1128px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 876px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  margin: 1px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 475px;
  grid-gap: 10px 10px;
}

.u-section-4 .u-container-layout-2 {
  padding: 8px 10px 0;
}

.u-section-4 .u-icon-1 {
  width: 53px;
  height: 53px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-2 {
  margin: -48px 44px 0 91px;
}

.u-section-4 .u-container-layout-3 {
  padding: 8px 10px 0;
}

.u-section-4 .u-icon-2 {
  width: 53px;
  height: 53px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-3 {
  margin: -48px 44px 0 91px;
}

.u-section-4 .u-container-layout-4 {
  padding: 8px 10px 0;
}

.u-section-4 .u-icon-3 {
  width: 53px;
  height: 53px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-4 {
  margin: -48px 44px 0 91px;
}

.u-section-4 .u-container-layout-5 {
  padding: 8px 10px 0;
}

.u-section-4 .u-icon-4 {
  width: 53px;
  height: 53px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-5 {
  margin: -48px 44px 0 91px;
}

.u-section-4 .u-container-layout-6 {
  padding: 8px 10px 0;
}

.u-section-4 .u-icon-5 {
  width: 53px;
  height: 53px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-6 {
  margin: -48px 44px 0 91px;
}

.u-section-4 .u-container-layout-7 {
  padding: 8px 10px 0;
}

.u-section-4 .u-icon-6 {
  width: 53px;
  height: 53px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-7 {
  margin: -48px 44px 0 91px;
}

.u-section-4 .u-container-layout-8 {
  padding: 8px 10px 0;
}

.u-section-4 .u-icon-7 {
  width: 53px;
  height: 53px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 10px;
}

.u-section-4 .u-text-8 {
  margin: -48px 44px 0 91px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 887px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-9 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 530px;
  height: 1139px;
  margin: -136px auto -136px 0;
}

.u-section-4 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-4 .u-text-9 {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 722px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -49px;
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -49px;
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -49px;
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -49px;
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: -49px;
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -49px;
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: -49px;
    margin-right: 0;
    margin-left: 135px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 731px;
  }

  .u-section-4 .u-image-1 {
    width: 460px;
    height: 989px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-icon-1 {
    width: 59px;
    height: 59px;
    margin-top: 23px;
    padding: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -53px;
    margin-right: 13px;
    margin-left: 89px;
  }

  .u-section-4 .u-icon-2 {
    width: 59px;
    height: 59px;
    padding: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -53px;
    margin-right: 13px;
    margin-left: 89px;
  }

  .u-section-4 .u-icon-3 {
    width: 59px;
    height: 59px;
    padding: 14px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -53px;
    margin-right: 13px;
    margin-left: 89px;
  }

  .u-section-4 .u-icon-4 {
    width: 59px;
    height: 59px;
    padding: 14px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -53px;
    margin-right: 13px;
    margin-left: 89px;
  }

  .u-section-4 .u-icon-5 {
    width: 59px;
    height: 59px;
    padding: 14px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -53px;
    margin-right: 13px;
    margin-left: 89px;
  }

  .u-section-4 .u-icon-6 {
    width: 59px;
    height: 59px;
    padding: 14px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -53px;
    margin-right: 13px;
    margin-left: 89px;
  }

  .u-section-4 .u-icon-7 {
    width: 59px;
    height: 59px;
    padding: 14px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -53px;
    margin-right: 13px;
    margin-left: 89px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 740px;
  }

  .u-section-4 .u-image-1 {
    width: 339px;
    height: 753px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1181px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 46px;
    margin-right: 46px;
  }

  .u-section-4 .u-icon-1 {
    width: 99px;
    height: 99px;
    margin-top: 0;
    padding: 23px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-4 .u-icon-2 {
    width: 99px;
    height: 99px;
    padding: 23px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-4 .u-icon-3 {
    width: 99px;
    height: 99px;
    padding: 23px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-4 .u-icon-4 {
    width: 99px;
    height: 99px;
    padding: 23px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-4 .u-icon-5 {
    width: 99px;
    height: 99px;
    padding: 23px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-4 .u-icon-6 {
    width: 99px;
    height: 99px;
    padding: 23px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-4 .u-icon-7 {
    width: 99px;
    height: 99px;
    padding: 23px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 129px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 587px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-top: 20px;
    margin-right: 13px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 370px;
  }

  .u-section-4 .u-image-1 {
    height: 731px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-5 .u-image-1 {
  width: 1100px;
  height: 741px;
  margin: -69px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-5 .u-image-1 {
    width: 940px;
    height: 633px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 485px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 229px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 160px;
}

.u-section-6 .u-custom-html-1 {
  margin-bottom: 60px;
}